<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p>Email - riteshjangra@gmail.com <br> Phone no. - 96XXXXXX12 <br> Address - 122 Subhash Nagar, New Delhi.</p>
<%- include("partials/footer"); -%>
